* {
    margin: 0;
    padding: 0;
    border: none;
}

.slide-container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    height: 720px;
}

.slide {
    position: absolute;
}

.prev, .next {
    color: #fff;
    font-size: 50px;
    text-decoration: none;
    margin-top: -50px;
    padding: 15px;
    background-color: transparent;
    transition: all 1s;
}

.prev:hover, .next:hover {
    background-image: #000;
}

.prev {
    position: absolute;
    left: 10;
    top: 50%;
}

.next {
    position: absolute;
    right: 0;
    top: 50%;
}
